<!DOCTYPE html>
<html ng-app="gpe">
<head>
  <meta charset="UTF-8">
  <title>Gulp Chrome Extension</title>
  <link rel="stylesheet" href="assets/styles/application.css">
</head>
<body class="gpe-body">
  <header class="gpe-header" tg-directive>
    <table class="header-app-values">
      <thead>
        <tr>
          <td>Third Party</td>
          <td>OOP</td>
          <td>Comissão</td>
          <td>Taxas</td>
          <td>Total</td>
          <td>Fee</td>
          <td>Fee Taxa</td>
          <td>Fee + Taxa</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ getTpWithComission() | currency }}</td>
          <td>{{ getOop() | currency }}</td>
          <td>{{ getTgComission() | currency }}</td>
          <td>{{ getTgTaxes() | currency }}</td>
          <td>{{ getTgTotal() | currency }}</td>
          <td>{{ getTgTotal() | currency }}</td>
          <td>{{ getTgTotal() | currency }}</td>
          <td>{{ getTgTotal() | currency }}</td>
        </tr>
      </tbody>
    </table>
  </header>

  <main class="gpe-content">

    <section class="tp gpe-sections" tp-directive>
      <header class="tp-header gpe-sections-header">
        <h2 class="gpe-sections-header-title">Third Party</h2>
      </header>
      <div class="gpe-sections-content">
        <div class="gpe-sections-fields v-center" ng-repeat="item_tp in tp">
          <input type="number" ng-model="item_tp.value" placeholder="Valor">
          <nav class="gpe-sections-fields-actions">
            <a ng-click="addTp()" class="gpe-sections-item-actions-add">[ + ]</a> <a ng-click="removeTp( $index )" class="gpe-sections-item-actions-remove" ng-class="{'show' : $index }">[ x ]</a>
          </nav>
        </div>
        <div class="gpe-sections-fields">
          <input type="number" ng-model="comission" placeholder="Comissão"> %
        </div>
      </div>
    </section>

    <section class="oop gpe-sections" oop-directive>
      <header class="tp-header gpe-sections-header">
        <h2 class="gpe-sections-header-title">Oop</h2>
      </header>
      <div class="gpe-sections-content">
        <div class="gpe-sections-fields v-center" ng-repeat="item_oop in oop">
          <input type="number" ng-model="item_oop.value" placeholder="Valor">
          <nav class="gpe-sections-fields-actions">
            <a ng-click="addOop()" class="gpe-sections-item-actions-add">[ + ]</a> <a ng-click="removeOop( $index )" class="gpe-sections-item-actions-remove" ng-class="{'show' : $index }">[ x ]</a>
          </nav>
        </div>
        <div class="gpe-sections-fields v-center">
          <input type="number" ng-model="oop_comission" placeholder="Comissão"> %
        </div>

        <div class="gpe-sections-fields v-center">
          <input type="number" ng-model="oop_taxes" placeholder="Taxas"> %
        </div>
      </div>
    </section>

    <section class="oop gpe-sections" oop-directive>
      <header class="tp-header gpe-sections-header">
        <h2 class="gpe-sections-header-title">Fee</h2>
      </header>
      <div class="gpe-sections-content">
        <div class="gpe-sections-fields v-center" ng-repeat="item_oop in oop">
          <input type="number" ng-model="item_oop.value" placeholder="Valor">
          <nav class="gpe-sections-fields-actions">
            <a ng-click="addOop()" class="gpe-sections-item-actions-add">[ + ]</a> <a ng-click="removeOop( $index )" class="gpe-sections-item-actions-remove" ng-class="{'show' : $index }">[ x ]</a>
          </nav>
        </div>
        <div class="gpe-sections-fields v-center">
          <input type="number" ng-model="oop_comission" placeholder="Comissão"> %
        </div>

        <div class="gpe-sections-fields v-center">
          <input type="number" ng-model="oop_taxes" placeholder="Taxas"> %
        </div>
      </div>
    </section>
  </main>

  <script src="assets/scripts/application.js"></script>
</body>
</html>